body{
    display:grid;
    grid-gap: 1em;
    background-color: #E1C2AF;
}

.image-div{
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
}

.logo{
    max-width: 60%;
    height: auto;
    margin:0;
}

.nav-bar{
    max-height: 100px;
    display: flex;
    justify-content: center;
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: right;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #99816f;
    font-family: 'Josefin Sans', sans-serif;
}

li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin:0;
}

ul {
    align-self: center;
}

.left-box{
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #E7E4DA;
    margin:0;
    text-align: center;
    position: relative;
}

.right-box{
    grid-row: 4/5;
    grid-column: 1/2;
    background-color: #E7E4DA;
    margin:0;
    text-align: center;
    position: relative;
}

.projects{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.border{
    width: 100%;
    height:auto;
}

.footer-div{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    grid-row: 5/6;
    grid-column: 1/2;
}
.icons{
    max-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 800px){
    body{
        display:grid;
        grid-gap: 1em;
        grid-template-columns: 3fr 3fr 3fr 1fr 3fr 3fr 3fr;
        grid-template-rows: 1fr auto 1fr;
        background-color: #E1C2AF;
    }
    .image-div{
        grid-row: 1/2;
        grid-column: 1/2;
        text-align: center;
    }
    .logo{
        max-width: 60%;
        height: auto;
        margin-left: 10%;
        margin-top: 10%;
    }
    .nav-bar{
        display: flex;
        justify-content: flex-end;
        grid-row: 1/2;
        grid-column: 2/8;
        text-align: right;
        text-decoration: none;
    }

    li{
        list-style: none;
        display: inline-block;
        padding: 10px;
        margin-top: 4%;
        padding-left: 40px;
        padding-right: 40px;
    }

    ul {
        align-self: center;
    }

    .left-box{
        grid-row: 2/3;
        grid-column: 1/4;
        background-color: #E7E4DA;
        margin-left: 3%;
        text-align: center;
        position: relative;
    }
    
    .right-box{
        grid-row: 2/3;
        grid-column: 5/8;
        background-color: #E7E4DA;
        margin-right: 3%;
        text-align: center;
        position: relative;
    }

    .footer-div{
        margin-top: 5%;
        display: flex;
        justify-content: center;
        grid-row: 3/4;
        grid-column: 1/8;
    }
}